.read {

    &>a {
        display: block;
        width: fit-content;
        margin-bottom: 20px;
        padding: 10px 20px;
        background: $primary-color;
        color: $white-color;
        font-size: 24px;
        font-weight: bold;
        border-radius: 4px;
    }

    table {
        margin-top: 40px;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 2px solid $black-color;
        text-align: left;
        padding: 10px;
    }

    td i:hover {
        opacity: .8;
        transition: .5s;
        cursor: pointer;
    }

    td i.btn-edit {
        color: $black-color;
    }

    tbody tr td i.btn-edit:hover {
        color: orange;
    }

    tbody tr td i.btn-delete:hover {
        color: red;
    }

    td[colSpan] {
        text-align: center;
    }

    td img {
        display: block;
        width: auto;
        height: 80px;
        object-fit: cover;
        border: 2px solid $black-color;
    }

    td ol {
        margin-left: 20px;

        li {

            span {
                display: block;

                &:first-child {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }

    td button {
        padding: 8px 16px;
        border-radius: 4px;
        margin: 0 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;

        &.confirm {
            background: green;
        }

        &.cancel {
            background: red;
        }

        &.waiting {
            background: orange;
        }
    }

    textarea {
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        height: 100px;
    }

    &>button {
        background: $primary-color;
        color: $white-color;
        padding: 10px 40px;
        border-radius: 4px;
        font-size: 20px;

        &:hover {
            box-shadow: 0 8px 16px 0 $primary-color;
            cursor: pointer;
        }

        &:last-child {
            background: gray;
            margin-left: 20px;
        }
    }
}