@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$primary-color: #d19367;
$second-color: #FFF7E6;
$white-color: #FFFFFF;
$black-color: #0B0B0B;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Nunito", sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background: $primary-color;

    a {
        margin: 0 20px;
        color: $white-color;
        font-size: 24px;
        font-weight: bold;

        &.active {
            color: $black-color;
        }
    }
}

main {
    width: 1000px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

@media only screen and (max-width: 1100px) {
    main {
        width: 90%;
    }
}

@import './read';
@import './create';
@import './home';